<%= render 'layouts/second_navbar' %>

<div class="mb-2">
  <!--編集、削除ボタン-->
  <% if current_user == @article.user %>
    <%= render 'articles/stop_publish_button', article: @article %>
    <%= render 'articles/edit_delete_button', article: @article %>
  <% end %>
</div>

<div class="mb-2">
  <!--ブックマークボタン-->
  <%= render 'bookmarks/bookmark_button', article: @article %>
</div>

<!--記事詳細view-->
<%= render 'articles/article', article: @article %>

