<div class="row m-0">
  <% recipes.each do |recipe| %>
    <div class="col-sm-3 col-6 px-2 pt-0 pb-3">
      <a href="/recipes/<%= recipe.id %>" class="card border-0">
        <div class="img-square">
          <% if recipe.image.present? %>
            <%= cl_image_tag(recipe.image.to_s, class: "card-img-top rounded-0", alt: recipe.title) %>
          <% elsif homepage_image(recipe) %>
            <%= image_tag(homepage_image(recipe), class: "card-img-top rounded-0", alt: homepage_title(recipe)) %>
          <% else %>
            <%= cl_image_tag(recipe.image.to_s, class: "card-img-top rounded-0", alt: recipe.title) %>
          <% end %>
        </div>
        <div class="card-img-overlay p-1">
          <h2 class="bookmark-heart">
            <span class="fa-layers fa-fw">
              <i class="fas fa-heart"></i>
              <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10"><%= recipe.bookmarks.count %></span>
            </span>
          </h2>
        </div>
        <div class="card-img-overlay text-right p-1">
          <% if recipe.draft? %>
            <h4><span class="badge badge-light">非公開</span></h4>
          <% end %>
          </div>
        <div class="card-footer border-0 bg-white px-0 py-1">
          <h4 class="my-1 font-orange"><%= recipe.title %></h4>
          <h4 class="mt-1">by <%= recipe.user.name %></h4>
        </div>
      </a>
    </div>
  <% end %>
</div>
<%= paginate recipes %>