<div class="mt-2">
  <h1><%= recipe.title %></h1>
</div>
<div class="row">
  <div class="col-sm-5">
    <%= cl_image_tag(recipe.image.to_s, alt: recipe.title) %>
  </div>
  <div class="col-sm-7">
    <div>
      <h3><%= recipe.explanation %></h3>
    </div>
    <h4>by <%= link_to recipe.user.name, user_path(recipe.user) %></h4>
    <% if @recipe.ingredients.present? %>
      <table class="table table-sm">
        <h2>材料</h2>
        <% @recipe.ingredients.each do |ingredient| %> 
          <tr><td><%= ingredient.name %></td><td><%= ingredient.quantity %></td></tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
