  <%= form_with(model: recipe, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-row">
      <div class="col-sm-4 offset-sm-1">
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, class: 'form-control'%>
        </div>
        <div class="form-group">
          <div class="mb-3">
            <%= f.label :image, "画像（変更前）" %><br>
            <%= cl_image_tag(@recipe.image.to_s, alt: @recipe.title) if @recipe.image? %>
          </div>
          <%= f.label :image, "新しい画像" %><br>
          <%= f.file_field :image, class: "image" %>      
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :explanation, "説明" %>
          <%= f.text_area :explanation, class: 'form-control'%>
        </div>
      </div>
      <div class="col-sm-6 offset-sm-3">
        <%= f.submit '保存して次へ', class: 'btn btn-light btn-block' %>
      </div>
    </div>
  <% end %>
