<div class="row m-0">
  <% recipes.each do |recipe| %>
    <div class="col-sm-3 col-6 px-2 pt-0 pb-3">
      <a href="/recipes/<%= recipe.id %>" class="card border-0">
        <%= cl_image_tag(recipe.image.to_s, class: "card-img-top rounded-0", alt: recipe.title) %>
        <div class="card-img-overlay p-1">
          <p class="text-secondary">♡<%= recipe.bookmarks.count %></p>
        </div>
        <div class="card-img-overlay text-right p-1">
          <% if recipe.draft? %>
            <p class="text-secondary">非公開</p>
          <% end %>
          </div>
        <div class="card-footer border-0 bg-white px-2 py-1">
          <h4 class="my-1 ash-blue"><%= recipe.title %></h4>
          <h4 class="mt-1">by <%= recipe.user.name %></h4>
        </div>
      </a>
    </div>
  <% end %>
</div>
