  <%= form_with(model: recipe, local: true, authenticity_token: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="form-row">
      <div class="col-sm-4 offset-sm-1">
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :image, "画像" %>
          <div class="mb-3">
            <%= cl_image_tag(@recipe.image.to_s, alt: "レシピ画像", id: :img_prev) %>
          </div>
          <%= f.file_field :image, class: "image", id: "book_img" %>      
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <%= f.label :explanation, "説明" %>
          <%= f.text_area :explanation, class: 'form-control'%>
        </div>
      </div>
    </div>
    <div class="form-row">
      <%= f.fields_for :feature do |s| %>
        <div class="col-sm-2 offset-sm-1">
          <div class="form-group">
            <%= s.label :amount, "ボリュームは？" %>
            <%= s.select :amount,
                Feature.amounts.keys.map {|k| [I18n.t("enums.feature.amount.#{k}"), k]},
                { include_blank: '選択してください'},
                class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <%= s.label :dish_type, "何系料理？" %>
            <%= s.select :dish_type,
                Feature.dish_types.keys.map {|k| [I18n.t("enums.feature.dish_type.#{k}"), k]},
                { include_blank: '選択してください'},
                class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <%= s.label :main_food, "メインの食材は？" %>
            <%= s.select :main_food,
                Feature.main_foods.keys.map {|k| [I18n.t("enums.feature.main_food.#{k}"), k]},
                { include_blank: '選択してください'},
                class: 'form-control' %>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <%= s.label :cooking_method, "調理法は？" %>
            <%= s.select :cooking_method,
                Feature.cooking_methods.keys.map {|k| [I18n.t("enums.feature.cooking_method.#{k}"), k]},
                { include_blank: '選択してください'},
                class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div>
      <div class="col-sm-6 offset-sm-3">
        <%= f.submit '完了する', formaction: easy_path, class: 'btn btn-light btn-block' %>
        <%= f.submit '保存してレシピ詳細入力に進む',　name: "", class: 'btn btn-light btn-block' %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </div>
  <% end %>
