<div class="row">
  <div class="col-sm-4 offset-sm-1">
    <h1><%= recipe.title %></h1>
  </div>
</div>
<div class="row mb-4">
  <div class="col-sm-4 offset-sm-1">
    <%= cl_image_tag(recipe.image.to_s, alt: recipe.title) %>
  </div>
  <div class="col-sm-5">
    <div>
      <p><%= recipe.explanation %></p>
    </div>
    <table class="table table-sm">
      <h3>材料</h3>
      <% @recipe.ingredients.each do |ingredient| %> 
        <tr><td><%= ingredient.name %></td><td><%= ingredient.quantity %></td></tr>
      <% end %>
    </table>
  </div>
</div>
