<h1 class="my-2"><%= recipe.title %></h1>
<div class="row mb-4">
  <div class="col-sm-5 mb-3">
    <div class="img-square">
      <% if recipe.image.present? %>
        <%= image_tag(recipe.image.to_s, alt: recipe.title) %>
      <% elsif homepage_image(recipe) %>
        <%= image_tag(homepage_image(recipe), alt: homepage_title(recipe)) %>
      <% else %>
        <%= image_tag(recipe.image.to_s, alt: recipe.title) %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-7">
    <h3><%= recipe.explanation %></h3>
    <div class="d-flex justify-content-end"> 
      <%= link_to "by #{recipe.user.name}", user_path(recipe.user), class: "font-orange font-sm" %>
    </div>
    <% if recipe.homepage.present? %>
      <div class="font-sm mt-4">
        <h2 class="border-gray pb-1">参考ホームページ</h2>
        <h5><%= link_to homepage_title(recipe), recipe.homepage, target: :_blank, class: "font-orange" %></h5>
      </div>
    <% end %>
    <%= yield %> 
  </div>
</div>
