<% content_for(:html_title) { "#{@recipe.title}のレシピ概要入力 | Wagakon" } %>
<% breadcrumb :recipe_edit, @recipe %>
<%= render "layouts/breadcrumbs" %>
<%= render "layouts/side_bar" do %>    
  <div class="card p-md-2 mx-2">
    <div class="card-body px-2 py-3">
      <h2 class="heading">レシピ概要を入力する</h2>
      <%= render 'recipes/form', recipe: @recipe, path: recipe_path, easy_path: easy_update_recipe_path do |f| %>
        <div class="form-check mb-2">
          <%= f.check_box :remove_img, class: "form-check-input", type: "checkbox", checked_value: "1", unchecked_value: "0", id: "defaultCheck1" %>
          <%= f.label :remove_img, "画像を削除する", class: "form-check-label", for: "defaultCheck1" %>
        </div>          
      <% end %>
    </div>
  </div>
<% end %>