<h2>プレビュー</h2>

<!--編集、削除ボタン-->
<%= render 'recipes/edit_delete_button', recipe: @recipe %>
  
<!--レシピ詳細view-->
<%= render 'recipes/recipe_upper', recipe: @recipe %>
<%= render 'recipes/recipe_lower', recipe: @recipe %>
<!--レシピ特徴-->
<%= render 'features/index', recipe: @recipe %>
<!--レシピ公開ボタン-->
<%= render 'recipes/publish_button', recipe: @recipe %>

