<%= stylesheet_link_tag "recipes/show", :media => "all" %>

<div class="button-group mb-2">
  <!--ブックマークボタン-->
  <%= render 'bookmarks/bookmark_button', recipe: @recipe %>
</div>
<div class="button-group">
  <!--公開非公開、編集、削除ボタン-->
  <% if current_user == @recipe.user %>
    <%= render 'recipes/stop_publish_button', recipe: @recipe %>
    <%= render 'recipes/edit_delete_button', recipe: @recipe %>
  <% end %>
</div>

<%= render 'recipes/recipe_upper', recipe: @recipe %>

<%= render 'recipes/recipe_lower', recipe: @recipe %>

