<%= stylesheet_link_tag "recipes/show", :media => "all" %>
<% if @recipe.draft? %>
  <h2>非公開</h2>
<% end %>
<!--献立追加ボタン-->
<%= render 'menus/add_to_meal', recipe: @recipe %>
<!--ブックマークボタン-->
<div id="likes_buttons_<%= @recipe.id %>", class="button-group mb-2">
  <%= render 'bookmarks/bookmark_button', recipe: @recipe %>
</div>
<!--公開非公開、編集、削除ボタン-->
<div class="button-group">
  <% if current_user == @recipe.user %>
    <%= render 'recipes/stop_publish_button', recipe: @recipe unless @recipe.draft? %>
    <%= render 'recipes/edit_delete_button', recipe: @recipe %>
  <% end %>
</div>
<!--レシピ上部-->
<%= render 'recipes/recipe_upper', recipe: @recipe %>
<!--レシピ下部-->
<%= render 'recipes/recipe_lower', recipe: @recipe %>
<!--レシピ特徴-->
<%= render 'features/index', recipe: @recipe %>

<% if @recipe.draft? %>
  <!--レシピ公開ボタン-->
  <%= render 'recipes/publish_button', recipe: @recipe %>
<% end %>
