<% content_for(:html_title) { "#{@recipe.title} | Wagakon" } %>
<% breadcrumb :recipe, @recipe %>
<%= render "layouts/breadcrumbs" %>
<%= render "layouts/side_bar" do %>    
  <% if @recipe.draft? %>
    <h2>非公開</h2>
  <% end %>
  <div class="card border-0">
    <div class="card-header d-flex justify-content-end py-1 bg-darkgray border-0 px-2 px-md-3">
      <!--献立追加ボタン-->
      <div class="d-inline-block mr-2">
        <%= render 'menus/add_to_meal', recipe: @recipe %>
      </div>
      <!--ブックマークボタン-->
      <div id="likes_buttons", class="d-inline-block">
        <%= render 'bookmarks/bookmark_button', recipe: @recipe %>
      </div>
    </div>
    <div class="card-body p-2 px-md-4 bg-gray">
      <!--レシピ上部-->
      <%= render 'recipes/show_upper', recipe: @recipe %>
      <!--レシピ下部(手順)-->
      <%= render 'steps/show', recipe: @recipe %>
      <!--レシピ特徴-->
      <%= render 'features/index', recipe: @recipe %>
      <% if @recipe.draft? %>
        <!--レシピ公開ボタン-->
        <%= render 'recipes/publish_button', recipe: @recipe %>
      <% end %>
      <!--公開非公開、編集、削除ボタン-->
      <div>
        <% if current_user == @recipe.user %>
          <%= render 'recipes/stop_publish_button', recipe: @recipe unless @recipe.draft? %>
          <%= render 'recipes/edit_delete_button', recipe: @recipe %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>