<% content_for(:html_title) { "プロフィール編集 | Wagakon" } %>
<% breadcrumb :user_edit %>
<%= render "layouts/breadcrumbs" %>
<%= render "layouts/side_bar" do %>
  <div class="px-3">
    <h2>プロフィール編集</h2>
    <%= form_with(url: users_path, model: @user, method: :patch, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: @user %>
      <div class="form-row mt-4">
        <div class="form-group col-sm-6">
          <%= f.label :image, "プロフィール画像" %><br>
          <div class="img-square">
            <%= image_tag(@user.image.to_s, alt: @user.name, id: :img_prev) %>
          </div>
          <div class="form-check mb-2">
            <%= f.check_box :remove_img, class: "form-check-input", type: "checkbox", checked_value: "1", unchecked_value: "0", id: "defaultCheck1" %>
            <%= f.label :remove_img, "画像を削除する", class: "form-check-label", for: "defaultCheck1" %>
          </div>          
          <%= f.file_field :image, class: "image", id: "book_img" %>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :name, 'ニックネーム' %>
            <%= f.text_field :name, required: :true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :personal_id, 'ID' %>
            <%= f.text_field :personal_id, required: :true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, 'Email' %>
            <%= f.email_field :email, required: :true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, '現在のパスワード' %>
            <%= f.password_field :password, required: :true, class: 'form-control' %>
          </div>
          <p><%= link_to 'パスワードを変更する', password_edit_users_path, class: "font-orange" %></p>
        </div>
        <div class="col-sm-2 offset-sm-5">
          <%= f.submit '更新', class: 'btn submit-btn btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>