<% content_for(:html_title) { "#{@user.name}さんの友だち | Wagakon" } %>
<% breadcrumb :friends %>
<%= render "layouts/breadcrumbs" %>
<%= render "layouts/side_bar" do %>    
  <% if @user.approved_friends.present? %>
    <div class="bg-gray px-4 pt-4 pb-2 mb-3">
      <h2><i class="far fa-user"></i> 友だち</h2>
      <div class="row m-0">
        <% @user.approved_friends.each do |friend| %>
          <div class="col-6 col-sm-3 my-0 mt-2">
            <%= image_tag(friend.image.to_s, alt: friend.name, class: 'rounded-pill') %>
            <div class="d-flex justify-content-center">
              <h3 class="mt-2 mb-0"><%= link_to friend.name, user_path(friend), class: "font-orange" %></h3>
            </div>
            <div class="d-flex justify-content-center">
              <%= render 'relationships/delete_friend_button', user: @user, friend: friend, delete_message: "削除" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>  
  <% end %>
  <div class="mb-4">
    <div class="row mx-0 mb-2">
      <div class="col-sm-12 px-0">
        <h2>友達追加++</h2>
        <div class="border-gray mb-3"></div>
        <!--ユーザー検索フォーム-->
        <%= form_with(url: search_users_path, method: :get, local: true) do |f| %>
          <div class="form-row">
            <div class="col-8 col-sm-5">
              <%= f.text_field :search, placeholder: '友達のIDで検索', class: 'form-control' %>
            </div>
            <div class="col-4 col-sm-3">
              <%= f.submit '検索', class: 'btn submit-btn' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% if @result_user %>
      <!--検索結果-->
      <%= render 'users/search_results', user: @result_user %>
    <% end %>
  </div>
  <% if @user.receiving_friends.present? %>
    <div class="bg-gray px-4 pt-4 pb-2 mb-3">
      <h2><i class="far fa-arrow-alt-circle-left"></i> 友だちリクエストされているユーザー</h2>
      <div class="row m-0">
        <% @user.receiving_friends.each do |friend| %>
          <div class="col-6 col-sm-3 my-0 mt-2">
            <%= image_tag(friend.image.to_s, alt: friend.name, class: 'rounded-pill') %>
            <div class="d-flex justify-content-center">
              <h3 class="mt-2 mb-0"><%= friend.name %></h3>
            </div>
            <div class="row d-flex justify-content-center m-0">
              <%= render 'relationships/approve_friend_button', user: @user, friend: friend %>
              <%= render 'relationships/delete_friend_button', user: @user, friend: friend, delete_message: "拒否" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @user.requesting_friends.present? %>
    <div class="bg-gray px-4 pt-4 pb-2 mb-3">
      <h2><i class="far fa-arrow-alt-circle-right"></i> 友だちリクエスト中のユーザー</h2>
      <div class="row m-0">
        <% @user.requesting_friends.each do |friend| %>
          <div class="col-6 col-sm-3">
            <%= image_tag(friend.image.to_s, alt: friend.name, class: 'rounded-pill') %>
            <div class="d-flex justify-content-center">
              <h3 class="mt-2 mb-0"><%= friend.name %></h3>
            </div>
            <div class="d-flex justify-content-center">
              <%= render 'relationships/delete_friend_button', user: @user, friend: friend, delete_message: "取り消し"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>