<div class="row mx-0">
  <!--レシピ検索フォーム-->
  <%= render 'recipes/search', keyword: @search_keyword, feature: @search_feature, keyword_submit: @k_submit, feature_submit: @f_submit %>
  <div class="col-sm-7 pr-3">
    <div class="text-center">
      <h2>パスワード変更</h2>
    </div>
    <div class="row">
      <div class="col-sm-4 offset-sm-4">
        <%= render 'layouts/error_messages', model: @user %>
        <%= form_with(url: password_update_user_path, method: :patch, local: true) do |f| %>
          <div class="form-group">
            <%= f.label :current_password, '現在のパスワード' %>
            <%= f.password_field :current_password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, '新しいパスワード' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, '新しいパスワード(確認)' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <%= f.submit '更新', class: 'btn submit-btn btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
  <!--献立一覧-->
  <%= render 'meals/index', recipes: @recipes %>
</div>
