<% content_for(:html_title) { "#{@user.name}さんのマイページ | Wagakon" } %>
<% current_user == @user ? (breadcrumb :mypage, @user) : (breadcrumb :user, @user) %>
<%= render "layouts/breadcrumbs" %>
<%= render "layouts/side_bar" do %>    
  <div class="bg-gray p-3 mx-2 my-0">
    <div class="row mx-2 mt-4">
      <div class="col-sm-4">
        <%= cl_image_tag(@user.image.to_s, alt: @user.name, class: 'rounded-pill') %>
      </div>
      <div class="col-sm-7 d-flex">
        <div class="align-self-center">
          <h1 class="d-inline"><%= @user.name %></h1>
          <% if current_user == @user %>
            <h3 class="d-inline">(ID: <%= @user.personal_id %>)</h3>
            <div class="mt-2 mx-1">
              <!--編集、削除ボタン-->
              <%= link_to "編集", edit_users_path, class: 'button pr-2 border-right' %>
              <%= link_to "アカウント削除", users_path, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'button' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-end">
        <% if current_user == @user %>
          <h3><%= link_to ">>友だち", friends_users_path, class: 'font-orange align-self-end' %></h3>
        <% else %>
          <h3>&nbsp;</h3>
        <% end %>  
      </div>
    </div>
  </div>
  <!--投稿レシピ一覧-->
  <h2 class="my-4 mx-2">作成したレシピ</h2>
  <div>
    <%= render 'recipes/index', recipes: @recipes %>
  </div>
<% end %>