<%= render 'layouts/second_navbar' %>

<div class="row">
  <aside class="col-md-4">
      <%= image_tag @user.image.url if @user.image? %>
  </aside>
  <div class="col-md-8 mb-3">
    <h5>名前</h5>
    <h3><%= @user.name %></h3>
    <h5>プロフィール</h5>
    <h3><%= @user.profile %></h3>
    <!--編集ボタン-->
    <div>
      <% if current_user == @user %>
        <%= link_to "編集", edit_user_path(@user), class: 'btn btn-info btn-sm' %>
      <% end %>
    </div>
  </div>
</div>
<!--投稿記事一覧-->
<h5 class="mt-4">投稿した記事</h5>
<%= render 'articles/articles', articles: @articles %>
