<h5><%= recipe.title %></h5>
<div class="row">
  <div class="col-md-5">
    <%= cl_image_tag(recipe.image.to_s, alt: recipe.title) %>
  </div>
  <div class="col-md-7">
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">説明</h4>
        <h5 class="card-text"><%= recipe.explanation %></h5>
      </div>
    </div>
    <%= form_with(url: recipe_ingredients_path, method: method, local: true) do |form| %>
      <% @ingredients.each do |ingredient|%>
        <%= form.fields_for 'ingredients[]', ingredient do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-row">
            <div class="form-group col-md-6 mb-2">
              <%= f.label :name, "材料" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group col-md-6 mb-2">
              <%= f.label :quantity, "数量" %>
              <%= f.text_field :quantity, class: "form-control" %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= form.submit '保存して次へ', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>  
</div>



