<%= render 'recipes/recipe_upper', recipe: @recipe %>

<%= form_with(url: recipe_steps_path, method: method, local: true) do |form| %>
  <div class="form-row">
    <% @steps.each.with_index(1) do |step, index|%>
      <%= form.fields_for 'steps[]', step do |f| %>
        <div class="col-sm-3">
          <%= render 'layouts/error_messages', model: f.object %>
          <h3>STEP<%= index %></h3>
          <%= f.hidden_field :number, :value => index %>
          <div class="form-group mb-2">
            <%= f.text_area :content, class: "form-control" %>
          </div>
        </div>  
      <% end %>
    <% end %>
　</div>　  
  <div class="col-sm-6 offset-sm-3">
    <%= form.submit button_message, class: 'btn btn-light btn-block' %>
  </div>
<% end %>
