<% content_for(:html_title) { "#{@recipe.title}の手順入力 | Wagakon" } %>
<% breadcrumb :steps_edit, @recipe %>
<%= render "layouts/breadcrumbs" %>
<%= render "layouts/side_bar" do %>
  <div class="card p-sm-2">
    <div class="card-body px-2 py-3">
      <h2 class="heading">手順を入力する</h2>
      <%= render 'recipes/show_upper', recipe: @recipe %>
      <%= render 'steps/form', method: :patch, button_message: "完了" %>
      <!--レシピ特徴-->
      <%= render 'features/index', recipe: @recipe %>
    </div>
  </div>
<% end %>