<div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= form_with(model: @material, local: true) do |f| %>
        <%#= render 'layouts/error_messages', model: f.object %>
        
        <div class="form-group">
          <%= f.label :title, "タイトル" %>
            <%= f.fields_for :articles do |i| %>
              <%= i.text_field :material, class: "form-control" %>
            <% end %>
        </div>
  
        <%= f.submit '保存して次へ', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
</div>
