<header>
  <nav class="navbar navbar-expand px-0 py-0 py-md-3 m-0 navbar-light">
    <a class="navbar-brand" href="/">WagaKon</a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <!--ログイン済み-->
        <% if logged_in? %>
          <li class="nav-item nav-icon">
            <%= link_to favorite_recipes_users_path, class: 'nav-link p-0 ml-3 ml-md-4' do %>
              <i class="fas fa-heart"></i>
            <% end %>
          </li>
          <li class="nav-item nav-icon">
            <%= link_to new_recipes_path, class: 'nav-link p-0 ml-3 ml-md-4' do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
          <li>
            <!--マイページ-->
            <div class="dropdown">
              <%= button_tag type: "button", class: "nav-item nav-icon nav-link p-0 ml-3 ml-md-4", id: "dropdownMenuButton", 'data-toggle': :dropdown, 'aria-haspopup': :true, 'aria-expanded': :false do %>
                <i class="far fa-user-circle"></i>
              <% end %>
              <div class="dropdown-menu dropdown-menu-right py-2" aria-labelledby="dropdownMenuButton">
                <%= link_to user_path(current_user), class: 'dropdown-item font-orange px-4 py-2' do %>
                  <div class="">
                    <i class="fas fa-user-circle"></i><p class="d-inline"> マイページ</p>
                    <div class="mt-1">
                      <h2 class="d-inline"><%= current_user.name %></h2><h4 class="d-inline">さん</h4>
                    </div>
                  </div>
                <% end %>
                <div class="dropdown-divider my-2"></div>
                <%= link_to 'ログアウト', logout_path, method: :delete, class: 'dropdown-item px-4 py-2' %>
              </div>
            </div>  
          </li>
          <div class="d-md-none">
            <li>
              <!--献立List-->
              <div class="dropdown">
                <%= button_tag type: "button", class: "nav-item nav-icon nav-link p-0 ml-3 ml-md-4", id: "dropdownMealButton", 'data-toggle': :dropdown, 'aria-haspopup': :true, 'aria-expanded': :false do %>
                  <i class="fas fa-utensils"></i>
                <% end %>
                <div class="dropdown-menu dropdown-menu-right py-2" aria-labelledby="dropdownMealButton">
                  <div class="dropdown-item">
                    <%= render 'meals/index', recipes: @recipes %>
                  </div>
                </div>
              </div>  
            </li>
          </div>
        <!--ログインなし-->
        <% else %>
          <li class="nav-item"><%= link_to '新規会員登録', signup_path, class: 'nav-link p-0' %></li>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link p-0 pl-3' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>