<!DOCTYPE html>
<html  lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DIY STOCK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
  </head>

  <body class="bg-light">
    <%= render 'layouts/navbar' %>
      <div class="container-fluid pt-4 pb-4 pl-5 pr-5 border-top">
        <%= render 'layouts/flash_messages' %>
        <div class="row">
          <% if logged_in? %>
            <!--レシピ検索フォーム-->
            <%= render 'recipes/search', keyword: @search_keyword, feature: @search_feature, keyword_submit: @k_submit, feature_submit: @f_submit %>
          <% end %>
          <div class="col-sm-6">
            <%= yield %>
          </div>
          <% if logged_in? %>
            <!--献立一覧-->
            <%= render 'meals/index', recipes: @recipes %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>

